In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt

# Student

In [36]:
# Read student dataset
student_df = pd.read_csv('data.csv', sep=";")
student_df.head(10)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
5,2,39,1,9991,0,19,133.1,1,37,37,...,0,5,17,5,11.500000,5,16.2,0.3,-0.92,Graduate
6,1,1,1,9500,1,1,142.0,1,19,38,...,0,8,8,8,14.345000,0,15.5,2.8,-4.06,Graduate
7,1,18,4,9254,1,1,119.0,1,37,37,...,0,5,5,0,0.000000,0,15.5,2.8,-4.06,Dropout
8,1,1,3,9238,1,1,137.0,62,1,1,...,0,6,7,6,14.142857,0,16.2,0.3,-0.92,Graduate
9,1,1,1,9238,1,1,138.0,1,1,19,...,0,6,14,2,13.500000,0,8.9,1.4,3.51,Dropout

## Preprocessing

In [37]:
# Check if any value is missing
student_df.isnull().values.any()

False

In [38]:
# Inspect the structure
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

In [39]:
# Check columns unique value
student_df.nunique()

Marital status                                      6
Application mode                                   18
Application order                                   8
Course                                             17
Daytime/evening attendance\t                        2
Previous qualification                             17
Previous qualification (grade)                    101
Nacionality                                        21
Mother's qualification                             29
Father's qualification                             34
Mother's occupation                                32
Father's occupation                                46
Admission grade                                   620
Displaced                                           2
Educational special needs                           2
Debtor                                              2
Tuition fees up to date                             2
Gender                                              2
Scholarship holder                                  2
Age at enrollment                                  46
International                                       2
Curricular units 1st sem (credited)                21
Curricular units 1st sem (enrolled)                23
Curricular units 1st sem (evaluations)             35
Curricular units 1st sem (approved)                23
Curricular units 1st sem (grade)                  805
Curricular units 1st sem (without evaluations)     11
Curricular units 2nd sem (credited)                19
Curricular units 2nd sem (enrolled)                22
Curricular units 2nd sem (evaluations)             30
Curricular units 2nd sem (approved)                20
Curricular units 2nd sem (grade)                  786
Curricular units 2nd sem (without evaluations)     10
Unemployment rate                                  10
Inflation rate                                      9
GDP                                                10
Target                                              3
dtype: int64

In [40]:
# Drop unused columns
unused_col = ['Previous qualification (grade)', 'Curricular units 1st sem (grade)', 'Curricular units 2nd sem (grade)', 
              'Previous qualification (grade)', 'Age at enrollment', 'Admission grade', "Father's occupation",
              "Mother's qualification", "Father's qualification", "Mother's occupation"]
student_df = student_df.drop(columns=unused_col)

In [41]:
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 28 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Nacionality                                     4424 non-null   int64
 7   Displaced                                       4424 non-null   int64
 8   Educational special needs                       4424 non-null   int64
 9   Debtor                                          4424 non-null   int64
 10  Tuition fees up to date                         4424 non-null   int64
 11  Gender                                          4424 non-null   int64
 12  Scholarship holder                              4424 non-null   int64
 13  International                                   4424 non-null   int64
 14  Curricular units 1st sem (credited)             4424 non-null   int64
 15  Curricular units 1st sem (enrolled)             4424 non-null   int64
 16  Curricular units 1st sem (evaluations)          4424 non-null   int64
 17  Curricular units 1st sem (approved)             4424 non-null   int64
 18  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 19  Curricular units 2nd sem (credited)             4424 non-null   int64
 20  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 21  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 22  Curricular units 2nd sem (approved)             4424 non-null   int64
 23  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 24  Unemployment rate                               4424 non-null   float64
 25  Inflation rate                                  4424 non-null   float64
 26  GDP                                             4424 non-null   float64
 27  Target                                          4424 non-null   object
dtypes: float64(3), int64(24), object(1)
memory usage: 967.9+ KB

In [42]:
# Target unique number
student_df['Target'].unique()

array(['Dropout', 'Graduate', 'Enrolled'], dtype=object)

In [43]:
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 28 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Nacionality                                     4424 non-null   int64
 7   Displaced                                       4424 non-null   int64
 8   Educational special needs                       4424 non-null   int64
 9   Debtor                                          4424 non-null   int64
 10  Tuition fees up to date                         4424 non-null   int64
 11  Gender                                          4424 non-null   int64
 12  Scholarship holder                              4424 non-null   int64
 13  International                                   4424 non-null   int64
 14  Curricular units 1st sem (credited)             4424 non-null   int64
 15  Curricular units 1st sem (enrolled)             4424 non-null   int64
 16  Curricular units 1st sem (evaluations)          4424 non-null   int64
 17  Curricular units 1st sem (approved)             4424 non-null   int64
 18  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 19  Curricular units 2nd sem (credited)             4424 non-null   int64
 20  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 21  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 22  Curricular units 2nd sem (approved)             4424 non-null   int64
 23  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 24  Unemployment rate                               4424 non-null   float64
 25  Inflation rate                                  4424 non-null   float64
 26  GDP                                             4424 non-null   float64
 27  Target                                          4424 non-null   object
dtypes: float64(3), int64(24), object(1)
memory usage: 967.9+ KB